{% extends 'base.html' %}
{% block content%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

	body{
		background-color: #3a86ff;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #100420;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffbe0b;
		border-color: #e59400;
	}

	.fa-check-square:before {
    content: "\f14a";
    color: green;
}

</style>


<h1 style="text-align: center; color: #fb070e7a; font-size: 120px;        text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;
"><b>TO DO LIST</b></h1>

<div class="center-column">
	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<div class="todo-list ">
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href = "{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href = "{% url 'delete' task.id %}">Delete</a>
			{% if task.is_complete == True %}
			<strike>{{task}}</strike>
			<i style="font-size:24px" class="fa fa-check-square"></i>
			{% else %}
			<span>{{task}}</span>
			{% endif %}

		</div>
	{% endfor %}
	</div>
</div>

{% endblock %}